{% extends 'base.html' %}

{% block head %}
<style>
    .card {
        width: 300px;
    }

    .card-body > a > img {
        width: 100%;
        margin: 10px 0px 15px 0px;
        transition: transform .2s; /* Animation */
    }
    .card-body > a > img:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
    <h1 class="text-center mb-3">Floor Plans</h1>
    <br>
    <br>
    <div class="text-center" id="vue-app">

        <div v-if="floorPlans.length > 0" class="row justify-content-center">
            <div v-for="floorplan in floorPlans" :key="floorplan.id" class="col-mb-3 card mb-3" style="margin: 0 20px">
                <div class="card-body">
                    <b>[[floorplan.name]]</b> |
                    [[floorplan.imagePath]] |
                    [[floorplan.pub_date]]
                    {# TODO: How to do dynamic image src with django vars #}
                    <a :href="'/' + floorplan.id + '/rooms/'">
                        <img :src="'/static/images/' + floorplan.imagePath" alt="floor image"/>
                    </a>
                </div>
            </div>
        </div>
        <div v-else>
            <p>No floor plans available</p>
        </div>

    </div>

    <script>
        let app = new Vue({
            el: "#vue-app",
            delimiters: ['[[', ']]'],
            data: {
                message: 'Hello from vue',
                number: 0,
                floorPlans: [],
                ws: ''
            },
            created() {
                this.getFloorPlans();
            },
            methods: {
              getFloorPlans() {
                axios.defaults.xsrfCookieName = 'csrftoken';
                axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                axios.get('/api/floorPlans/')
                    .then(res => {
                        console.log(res.data);
                        this.floorPlans = res.data;
                    })
                    .catch(err => {
                        console.log(err);
                    })
              }

            }
        })

    </script>
{% endblock %}
