{% extends 'base.html' %}

{% block title %}Edit rooms{% endblock %}

{% block head %}
<style>
    #myCanvas {
        width: 600px;
        margin-bottom: 15px;
    }

    .cursorLoading:hover {
        cursor: progress !important;
    }
    .cursorPointer:hover {
        cursor: pointer !important;
    }
    .cursorCrosshair:hover {
        cursor: crosshair !important;
    }

    #imgForCanvas {
        display: none;
    }
    .mapPinImage {
        display: none;
    }
    .pointInfo {
        display: inline-block;
        border: 1px solid rgb(98, 145, 255);
        border-radius: 5%;
        padding: 5px;
        margin-right: 7px;
        margin-bottom: 7px;
    }

    .wrong-point-info {
        background-color: #ff8f87;
    }

    .point-info-selected {
        background-color: #83a2fc !important;
    }

    .pointInfo:hover {
        cursor: pointer;
        background-color: #ecf7ff;
    }

    .pointsContainer {
        overflow-y: auto;
        padding: 5px;
    }
    .selectedPoint {
        margin-top: 20px;
    }

    .currentRoute {
        background-color: #eeeeee;
    }
    .currentPoint {
        background-color: lightblue;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col" id="vue-app">
            <!--TABS-->
            <ul id="tabs" class="nav nav-tabs mb-3" data-tabs="tabs" role="tablist">
                <li class="nav-item"><a id="TAB_Rooms" @click="changeMode('rooms')" href="#rooms" class="nav-link " data-toggle="tab">Rooms</a></li>
                <li class="nav-item"><a id="TAB_Pins" @click="changeMode('pins')" href="#points" class="nav-link" data-toggle="tab">Points</a></li>
                <li class="nav-item"><a id="TAB_Finger" @click="changeMode('fingerprinting')" href="#routes" class="nav-link" data-toggle="tab">Routes</a></li>
                <li class="nav-item"><a id="TAB_Radio" @click="changeMode('radio_map')" href="#radio" class="nav-link active" data-toggle="tab">Radio Map</a></li>
                <li class="nav-item"><a id="TAB_Testing" @click="changeMode('testing')" href="#testing" class="nav-link" data-toggle="tab">Testing</a></li>
                <li class="nav-item"><a id="TAB_Live" href="#live" class="nav-link" data-toggle="tab">Live</a></li>
            </ul>
            <div id="my-tab-content" class="tab-content">
                <!-- ROOMS TAB-->
                <div class="tab-pane " id="rooms">
                    <h4>Drag to add new room</h4>
                    <div style="margin: 20px 0;">
                        <button @click="togglePins()" class="btn btn-secondary">Toggle Pins</button>
    {#                    <button @click="toggleRooms()" class="btn btn-secondary">Toggle Rooms</button>#}
                        <button @click="saveRooms()" class="btn btn-success">Save Changes</button>
                    </div>

                    <ul v-if="rooms.length>0" class="list-group" style="margin-top: 20px;">
                        <li v-for="(room,index) in floorPlan.rooms" :key="index" class="list-group-item">
                          [[ index ]]) [[ room.name ]], x:[[ room.x ]], y:[[ room.y ]], w:[[ room.width ]], h:[[ room.height ]]
                            &nbsp;<button @click="deleteRoom(index)" class="close">&times;</button>
                        </li>
                    </ul>
                    <div v-else>
                        <p>This floor plan has no rooms yet.</p>
                    </div>
                    <br>
                </div>
                <!-- POINTS TAB-->
                <div class="tab-pane" id="points">
                    <h4>Point to add new Pins</h4>

                    <div style="margin: 20px 0;">
                        <button @click="togglePins()" class="btn btn-secondary">Toggle Pins</button>
                        <button @click="toggleRooms()" class="btn btn-secondary">Toggle Rooms</button>
                    </div>

                    <div class="pointsContainer">
                        <div v-for="(point, index) in pins" :key="index" class="pointInfo" @click="changeSelectedPoint(point, index)" :class="[point.scans < 85? 'wrong-point-info' : '', index==selectedPoint.index? 'point-info-selected': '']" >
                            [[ index ]]. x:[[ point.x ]] y:[[ point.y ]] | [[ point.scans ]]
{#                            <button @click="deletePin(index, pin.id)" class="close">&times;</button>#}
                        </div>
                        <div v-if="floorPlan.pins && floorPlan.pins.length==0">No points yet.</div>
                    </div>
{#                    <div v-if="selectedPoint" class="selectedPoint">#}
{#                        [[ selectedPoint.index ]]. x:[[ selectedPoint.point.x ]] y:[[ selectedPoint.point.y ]]#}
{#                        <div v-for="(network, i) in selectedPoint.point.networks" :key="i">#}
{#                            [[ network.BSSID ]] | [[ network.SSID ]] | [[ dbmToQuality(network.level) ]]%#}
{##}
{#                            <hr>#}
{#                        </div>#}
{#                    </div>#}
                </div>
                <!-- Routes TAB -->
                <div class="tab-pane " id="routes">
                    <h4>Routes</h4>
                    <div style="margin: 20px 0;">
                        <button @click="togglePins()" class="btn btn-secondary">Toggle Pins</button>
                        <button @click="toggleRooms()" class="btn btn-secondary">Toggle Rooms</button>
                        <button @click="saveRoutes()" class="btn btn-success">Save Routes</button>
    {#                    <button @click="getConnectedWS()" class="btn btn-success">getConnectedWS</button>#}
                    </div>
                    <ul v-if="floorPlan.routes && floorPlan.routes.length>0" class="list-group" style="margin-top: 20px;">
                        <li v-for="(route,index) in floorPlan.routes" :key="index" :class="index==currentRoute? 'currentRoute': ''" class="list-group-item">
                            <b>[[index]] .</b>
                            <span v-for="(point,i) in route" :key="i" :class="i==currentRoutePoint && index==currentRoute? 'currentPoint': ''"><b>[[i]]:</b> [[point]] </span>
&nbsp;                           <button @click="deleteRoute(index)" class="close">&times;</button>
                        </li>
                    </ul>
                    <div v-else>
                        <p>This floor plan has no routes yet.</p>
                    </div>
                    <br>

                    <p></p>
                </div>
                <!-- RADIO MAP TAB-->
                <div class="tab-pane active" id="radio">
                    <h4>Radio Map</h4>
                    <div class="pointsContainer">
                        <div v-for="(bssid, index) in unique_bssids" :key="index" class="pointInfo" @click="changeSelectedBSSID(bssid, index)" :class="bssid==selected_BSSID? 'point-info-selected': ''">
                            [[ index ]]. [[ bssid ]]
                        </div>
{#                        <div v-if="floorPlan.pins && floorPlan.pins.length==0">No bssids found.</div>#}
                    </div>
                    <p></p>
                </div>
                <!-- TESTING TAB-->
                <div class="tab-pane" id="testing">
                    <h4>Testing</h4>
                    <div v-for="(test_point, index) in test_points" :key="index" class="pointInfo" @click="changeSelectedTestPoint(test_point, index)" :class="selectedTestPoint==index? 'point-info-selected': ''"> <!---->
                            [[ index ]]. [[ test_point.x ]] [[ test_point.y ]] | [[ test_point.scans.length ]]
                    </div>
{#                    <div v-if="floorPlan.pins && floorPlan.pins.length==0">No test_points found.</div>#}
                    <br>
                </div>
                <!-- LIVE LOCATIONS TAB-->
                <div class="tab-pane" id="live">
                    <h4>Live Locations</h4>
                    <h5>Connected Devices</h5>
                    <p></p>
                </div>

            </div>

            <!-- new Room Modal -->
            <div class="modal fade" id="newRoomModal" tabindex="-1" role="dialog" aria-labelledby="newRoomModalLabel1" aria-hidden="true" data-backdrop="static">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="newRoomModalLabel">New Room</h5>
                    <button @click="closeNewRoomModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                        <div class="form-group">
                            <label for="roomName">Name *</label>
                            <input type="text" class="form-control" v-model="newRoomName" id="roomName" placeholder="Enter name">
                        </div>
                        <div v-if="newRoomMessage">
                            [[ newRoomMessage ]]
                        </div>
                  </div>
                  <div class="modal-footer">
                    <button @click="closeNewRoomModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button @click="saveNewRoom()" class="btn btn-success">Save Room</button>
                  </div>
                </div>
              </div>
            </div><!--end of new room modal-->

        </div> <!--END of vue app col-->
        <div class="col">
            <!--The image that is used in the canvas-->
            <img id="imgForCanvas" width=600 alt="floor image"/>
            <img id="mapPinImage" class="mapPinImage" src="/static/images/pin.svg" width=10 height=18 alt="pin image">
            <img id="mapPinImageGreen" class="mapPinImage" src="/static/images/pin_green.svg" width=10 height=18 alt="pin image green">
            <img id="mapPinImageYellow" class="mapPinImage" src="/static/images/pin_yellow.svg" width=10 height=18 alt="pin image yellow">
            <canvas id="myCanvas" width="600" height="581">
            </canvas>
            <p>canvas 600x581 px</p>
        </div>
    </div> <!--END of row-->

    <!--Reconnection WebSocket-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js" integrity="sha512-B4skI5FiLurS86aioJx9VfozI1wjqrn6aTdJH+YQUmCZum/ZibPBTX55k5d9XM6EsKePDInkLVrN7vPmJxc1qA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="module">
        document.onkeydown = function(evt) {
            if ("key" in evt && evt.key === "Escape" || evt.key === "Esc") {
                app.saveRoute();
            }
        };

        import { FloorPlan } from "/static/js/myCanvas.mjs";
        var app = new Vue({
            el: "#vue-app",
            delimiters: ['[[', ']]'],
            data: {
                floorPlan: '', // this is My FloorPlant canvas object
                ws: '',
                img: '',
                imgPin: '',
                imgPinGreen: '',
                imgPinYellow: '',

                floor_plan_id: {{ floor_plan_id }},
                floor_plan_img: '{{ floor_plan_img }}',

                rooms: [],
                pins: [],
                routes: [],
                scanning: false,
                selectedPoint: '',
                radioMap: {},
                unique_bssids: [],
                selected_BSSID: '',

                currentRoute: 0,
                currentRoutePoint: 0,

                test_points: [],
                selectedTestPoint: 0,

                newRoomName: '',
                newRoomMessage: '',
            },
            mounted() {
                console.log("Rooms: ", this.rooms);
                console.log("floor_plan_id: ", this.floor_plan_id);
                console.log("floor_plan_img: ", this.floor_plan_img);

                this.getFloorPlan();  // getting rooms and routes
                this.getPoints();     // getting signal points and number of scans of radio map
                this.getRadioMap();   // getting radio map dataframe
                this.getBssids();     // getting unique bssids of radio map
                this.getTestPoints(); // getting test points

                this.img = document.getElementById("imgForCanvas");
                this.img.src = "/static/images/" + this.floor_plan_img + '/';

                this.imgPin = document.getElementById("mapPinImage");
                this.imgPinGreen = document.getElementById("mapPinImageGreen");
                this.imgPinYellow = document.getElementById("mapPinImageYellow");

                this.img.addEventListener('load', () => {
                    // using the FloorPlan class
                    let canvas = document.getElementById("myCanvas");
                    this.floorPlan = new FloorPlan(canvas, this.img, this.imgPin, this.imgPinGreen, this.imgPinYellow)
                    this.floorPlan.setRooms(this.rooms);
                    this.floorPlan.setPins(this.pins);
                    this.floorPlan.routes = this.routes;

                    document.getElementById('TAB_Testing').click(); // change active tab

                    this.floorPlan.canvas.addEventListener('showNewRoomModal', () => {
                        $('#newRoomModal').modal('show');
                    }, false)
                    this.floorPlan.canvas.addEventListener('closeNewRoomModal', () => {
                        $('#newRoomModal').modal('hide');
                    }, false)
                })

                // -------------------------------------------------------------------------------  Socket listeners --------------
                this.ws = new ReconnectingWebSocket('ws://127.0.0.1:8000/ws/browserWS/')
                this.ws.onopen = function (event) {
                    console.log('WS connected!')
                };
                this.ws.onmessage = function(event) {
                    const data = JSON.parse(event.data);
                    console.log("Message from server", data);
                    if (data.message == "ROBOT_LOCATION") { //robot.location
                        {#console.log(data.data)#}
                        app.floorPlan.currentRoute = data.data.route;
                        app.floorPlan.currentRoutePoint = data.data.point;
                        app.currentRoute = data.data.route;
                        app.currentRoutePoint = data.data.point;
                        app.floorPlan.redrawAll();
                    }
                    else if (data.message == "SCAN_FINISHED") {
                        {#let index = app.floorPlan.pins.length-1;#}
                        {#console.log('new pin index', index)#}
                        {#app.floorPlan.pins[index].networks = data.networks;#}
                        {#app.changeSelectedPoint(index);#}
                        {#app.floorPlan.setDoNothing(false);#}
                        {#app.floorPlan.canvas.classList.remove('cursorLoading')#}
                        {#app.floorPlan.canvas.classList.add('cursorPointer')#}
                        {#app.scanning = false;#}

                        // a new point was added to the database so lets get all again?
                    }
                };

                this.ws.onclose = function(e) {
                    console.log('Socket is closed. Auto reconnect is on', e.reason);
                };

                this.ws.onerror = function(err) {
                  console.error('Socket encountered error: ', err.message, 'Closing socket');
                };
                // -------------------------------------------------------------------------------  END Socket listeners --------------
            },
            methods: {
                getConnectedWS() {
                    let data = {
                        message: "GET_CONNECTED_WS"
                    }
                    this.ws.send(JSON.stringify(data))
                },
                deleteRoute(index) {
                    this.floorPlan.deleteRoute(index);
                },
                saveRoute() {
                    {#console.log(app.floorPlan.routePoints)#}
                    this.floorPlan.routes.push(this.floorPlan.routePoints);
                    this.floorPlan.routePoints = [];
                    {#console.log(this.floorPlan.routes);#}
                },

                saveRoutes() {
                    let canvasWidth = this.floorPlan.canvas.width;
                    let canvasHeight = this.floorPlan.canvas.height;

                    let finalRoutes = [];
                    for (let i=0; i<this.routes.length; i++) {
                        let route = []
                        for (let j=0; j<this.routes[i].length; j++) {
                            let point = {
                                x: this.routes[i][j].x / canvasWidth,
                                y: this.routes[i][j].y / canvasHeight,
                                direction: this.routes[i][j].direction
                            }
                            route.push(point);
                        }
                        finalRoutes.push(route);
                    }

                    axios.defaults.xsrfCookieName = 'csrftoken';
                    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                    axios({
                        url: '/' + this.floor_plan_id + '/fingerprinting/',
                        method: 'post',
                        data: {
                            message: "SAVE_ROUTES",
                            finalRoutes
                        }
                    })
                    .then(res => {
                        console.log("Saved all new Routes!")
                    })
                    .catch(err => {
                        console.log(err)
                    })
                },

                dbmToQuality(dBm) {
                    // where dBm: [-100 to -50]
                    let quality = 0;
                    if (dBm <= -100){
                        quality = 0;
                    } else if (dBm >= -50) {
                        quality = 100;
                    } else {
                        quality = 2 * (dBm + 100);
                    }
                    return quality;
                },

                getFloorPlan() {
                    axios.defaults.xsrfCookieName = 'csrftoken';
                    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                    {#if(!axios) console.log("No AXIOS!!")#}
                    axios.get('/api/floorPlans/' + this.floor_plan_id) //+ '/?date=' + new Date().toISOString()
                    .then(res => {
                        console.log("Floorplan: ", res.data)
                        this.rooms = res.data.rooms;
                        this.routes = res.data.routes;
                        this.routes = this.routes.map(route => {
                            return JSON.parse(route.points)
                        })
                        this.floorPlan.setRooms(this.rooms);
                        this.floorPlan.setRoutes(this.routes);
                    })
                    .catch(err => {console.log(err)})
                },

                getPoints() {
                    console.log("getting Points and scans of radio map...")
                    axios.get("/"+this.floor_plan_id+"/point_scans/")
                        .then(res => {
                            {#console.log(res.data)#}
                            this.pins = res.data;
                            this.floorPlan.setPins(this.pins);
                            {#this.floorPlan.radioMap = this.radioMap;#}
                        })
                        .catch(err => {
                            console.log(err)
                        })
                },

                getRadioMap() {
                    console.log("getting radio map...")
                    axios.get("/"+this.floor_plan_id+"/radio_map/")
                        .then(res => {
                            {#console.log("Radio Map:", res.data)#}
                            this.radioMap = res.data;
                            this.floorPlan.radioMap = this.radioMap;
                        })
                        .catch(err => {
                            console.log(err)
                        })
                },

                getBssids() {
                    console.log("getting unique bssids of radio map...")
                    axios.get("/"+this.floor_plan_id+"/bssids/")
                    .then(res => {
                        {#console.log(res)#}
                        this.unique_bssids = res.data
                        this.changeSelectedBSSID(this.unique_bssids[0],0);
                    })
                    .catch(err => {
                        console.log(err)
                    })
                },

                getTestPoints() {
                   console.log("getting Test Points of radio map...")
                    let canvas = document.getElementById('myCanvas')
                    let width = canvas.width;
                    let height = canvas.height;
                    axios.get("/"+this.floor_plan_id+"/test_points/")
                    .then(res => {
                        console.log(res.data)
                        for (let i=0; i<res.data.length; i++) {
                            res.data[i].x = Math.floor(res.data[i].x * width);
                            res.data[i].y = Math.floor(res.data[i].y * height)
                        }
                        this.test_points = res.data
                    })
                    .catch(err => {
                        console.log(err)
                    })
                },

                async changeSelectedTestPoint(test_point, index) {
                    this.selectedTestPoint = index;
                    // do knn for room and location
                    var knns = []
                    var rooms = []
                    for (let i=0; i<test_point.scans.length; i++) {
                        let data = {
                            networks: test_point.scans[i] // the scanned networks
                        }
                        try {
                            // find room
                            let res = await axios.post("/localize/room_knn/", data)
                            let room = res.data.room_pred;
                            rooms.push(room);

                            // find neighbors
                            res = await axios.post("/localize/knn/", data)
                            let neighbors = res.data;
                            knns.push(neighbors);
                        } catch (err) {
                            console.log(err)
                        }
                    }
                    {#console.log(rooms)#}
                    {#console.log(knns)#}
                    // show results on map
                    this.floorPlan.changeSelectedTestPoint(test_point, knns, rooms);
                },

                changeSelectedBSSID(bssid, index) {
                    this.floorPlan.changeSelectedBSSID(bssid);
                    this.selected_BSSID = bssid;
                },

                deletePin(index, pinId) {
                    console.log(index, pinId);
                    this.floorPlan.unHighlightPin(index);
                    this.floorPlan.deletePin(index);
                    axios.defaults.xsrfCookieName = 'csrftoken';
                    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                    axios.delete("/api/signalPoints/" + pinId + "/")
                        .then(res => {
                            console.log(res)
                        })
                        .catch(err => {
                            console.log(err)
                        })
                },

                changeSelectedPoint(point, index) {
                    this.selectedPoint = {
                        index: index,
                        point: point
                    };
                    this.floorPlan.highlightPin(point);
                },

                deleteRoom(id) {
                    console.log(id);
                    this.floorPlan.rooms.splice(id, 1);
                    this.floorPlan.redrawAll();
                },

                saveRooms() {
                    let canvasWidth = this.floorPlan.canvas.width;
                    let canvasHeight = this.floorPlan.canvas.height;
                    console.log(canvasWidth);
                    let finalRooms = this.floorPlan.rooms.map(room => {
                        return {
                            name: room.name,
                            x: room.x / canvasWidth,
                            y: room.y / canvasHeight,
                            width: room.width / canvasWidth,
                            height: room.height / canvasHeight,
                            floor_plan_id: this.floor_plan_id
                        }
                    })
                    {#const my_token = '{{ csrf_token }}';#}
                    axios.defaults.xsrfCookieName = 'csrftoken';
                    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                    axios({
                        url: '/' + this.floor_plan_id + '/rooms/',
                        method: 'post',
                        data: finalRooms
                    })
                    .then(res => {
                        console.log(res.data)
                    })
                    .catch(err => {
                        console.log(err)
                    })
                },

                closeNewRoomModal() {
                    $('#newRoomModal').modal('hide');
                    this.newRoomName = '';
                    this.newRoomMessage = '';
                },

                saveNewRoom() {
                    if (this.newRoomName == '') {
                        this.newRoomMessage = 'Please add a room name.'
                        return;
                    } else if (this.floorPlan.newRoom.height == 0 && this.floorPlan.newRoom.width == 0) {
                        this.newRoomMessage = 'New room is invalid.'
                        return;
                    }
                    this.floorPlan.newRoom.name = this.newRoomName;
                    this.floorPlan.addRoom();
                    this.newRoomName = '';
                    this.newRoomMessage = '';
                },

                changeMode(mode) {
                    if (mode == 'pins') {
                        this.floorPlan.canvas.classList.add('cursorPointer')
                        this.floorPlan.canvas.classList.remove('cursorCrosshair')
                    } else if (mode == 'rooms') {
                        this.floorPlan.canvas.classList.add('cursorCrosshair')
                        this.floorPlan.canvas.classList.remove('cursorPointer')
                    } else if (mode == 'fingerprinting') {
                        this.floorPlan.canvas.classList.add('cursorCrosshair')
                        this.floorPlan.canvas.classList.remove('cursorPointer')
                    } else if (mode == 'radio_map') {
                        this.floorPlan.canvas.classList.remove('cursorCrosshair')
                        this.floorPlan.canvas.classList.remove('cursorPointer')
                    } else if (mode == 'testing') {
                        this.floorPlan.canvas.classList.remove('cursorCrosshair')
                        this.floorPlan.canvas.classList.remove('cursorPointer')
                    }
                    this.floorPlan.setMode(mode);
                },

                togglePins() {
                    this.floorPlan.toggleShowingPins();
                },

                toggleRooms() {
                    this.floorPlan.toggleShowingRooms();
                },

            }
        });
    </script>

{% endblock %}


